body {
    background: #000428; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);
    margin: 0;
    padding: 0;
    font-family: sans-serif !important;
}
h1 {
    font-family: "Raleway", sans-serif !important;
    text-align: center;
}
h2 {
    font-family: "Raleway", sans-serif !important;
    margin-bottom: 30px;
    text-align: center;
}
.card {
    border-radius: 20px !important;
}
